body {
    background-color: darkcyan;
}

.container {
    width: 900px;
    height: 900px;
    margin: auto;
}

.box {
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: rgb(76, 64, 175);
    margin: 10px;
}

#lista1 {
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: rgb(250, 7, 7);
    margin: 10px;
}

#lista2 {
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: rgb(204, 224, 16);
    margin: 10px;
}

#lista3 {
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: rgb(48, 150, 91);
    margin: 10px;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    line-height: 80px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 50px;
}